*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #120f0f; */
}

.NavbarBackgroundColor{
    background-color: rgb(18, 34, 43);
}

.ziffcodeLogoDiv{
    width: 10rem;
    height: 4rem;
    margin-left: 5%;
}

.nav-item .LiNavLink:hover{
    color: orangered;
}

.ziffcodeLogo{
    width: 100%;
    height: 100%;
}

.zifftext{
    color: rgb(46,104,211);
}

.logoImage{
    width: 4rem;
    height: 4rem;
}

.ziffcodeDiv{
    background-color: #120f0f;
}

.codingRemovebDiv{
    width: 1.5rem;
    height: 1.5rem;
}
.ziffTechLtd{
    font-weight: bold;
    color: orangered;
    background-color: #120f0f;
    opacity: 75%;
    margin-top: 0;
}

.LandingPageCarousel{
    width: 100%;
    height: 100vh;
}

.LandingPageCarousel img{
width: 100%;
height: 100%;
}
.codingRemovebg1{
    width: 2rem;
    height: 2rem
}

.ziffcodeBackground{
    width: 187vh;
    height: 80vh;
    margin: 0 8% 0 8%;
}

.w-100{
    background-color: rgb(18, 47, 98);
    color: goldenrod;
}

.footerLogo{
    width: 10rem;
    height: 4rem;
}

.codingToday{
    width: 65%;
    height: 50vh;
   top: 100%;
   left: 50%;
   border-radius: 16px;
   box-shadow: inset -9px 8px 15px rgba(0,0,0,.8);
   display: flex;
   align-items: center;
   justify-content: center;
    background-color: rgb(18, 47, 98);
    color: goldenrod;
    transform: translate(-50%,-50%)
    
}

.classroomImages{
    width: 100%;
}

.ourFocusComponentMargin{
    margin-top: 9rem;
}